legacy-peer-deps=true
strict-peer-deps=false
audit=false
fund=false
engine-strict=true
prefer-offline=false
progress=false
fetch-retries=5
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=20000

registry=https://registry.npmjs.org/
